<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link href="/public/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/public/assets/libs/css/style.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css" />
  <link rel="stylesheet"
    href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

  <title>Quản lý diễn viên</title>
  <link rel="icon" href="/public/img/core-img/favicon.ico" />
</head>

<body>
  <div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png"
            alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item dropdown nav-user">
              <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="<%= admin.admin_avatar %> " alt="" class="user-avatar-md rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarDropdownMenuLink2">
                <div class="nav-user-info">
                  <% fullName=admin.loginInformation.username %>
                    <h5 class="mb-0 text-white nav-user-name">
                      <%= fullName %>
                    </h5>
                </div>
                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Tài khoản</a>
                <a class="dropdown-item" href="/admin/dashboard/logout"><i class="fas fa-power-off mr-2"></i>Đăng
                  xuất</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-divider">
                Menu
              </li>
              <li class="nav-item ">
                <div id="submenu-1" class="collapse submenu show">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/dashboard">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/movie-management/page-1">Quản lý phim</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/admin/actor-management/page-1">Quản lý diễn viên</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/director-management/page-1">Quản lý đạo diễn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/genre-management/page-1">Quản lý thể loại</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/rating-management/page-1">Quản lý đánh giá</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/comment-management/page-1">Quản lý bình luận</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/user-management/page-1">Quản lý người dùng</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-header">
                <h2 class="pageheader-title">Quản lý diễn viên</h2>
                <div class="page-breadcrumb">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/admin/dashboard" class="breadcrumb-link">Menu</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/admin/actor-management/page-1" class="breadcrumb-link">Quản lý diễn viên</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Trang <%= page %>
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <div class="ecommerce-widget">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="header-product">
                  <h5 class="card-header">Quản lý diễn viên</h5>
                  <a class="button" href="/admin/actor-management/add">Thêm diễn viên</a>
                </div>
                <div class="card-body p-0">
                  <div class="row m-3">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" id="search-actor" class="form-control"
                          placeholder="Tìm kiếm diễn viên (Nhập tên hoặc url)">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <button class="btn btn-primary" id="search-button">Tìm kiếm</button>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-light">
                        <tr class="border-0">
                          <th class="border-0">#</th>
                          <th class="border-0">Thumbnail</th>
                          <th class="border-0">Tên</th>
                          <th class="border-0">URL</th>
                          <th class="border-0">Phim</th>
                          <th class="border-0">Mô tả</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% listActor=actors.length> numberItemPerPage ?
                          actors.slice((page - 1) * numberItemPerPage, numberItemPerPage * page): actors %>
                          <% var index=(page - 1) * numberItemPerPage + 1 %>
                            <% listActor.forEach(element=> {%>
                              <tr style="cursor: pointer; transition: opacity 1s, transform 0.2s;"
                                onmouseover="this.style.opacity='0.6'; this.style.transform='scale(0.99)';"
                                onmouseout="this.style.opacity='1'; this.style.transform='scale(1)';"
                                onclick="redirectToDetail('/admin/actor-management/detail/<%= element.actor_url %>')">
                                <td width="3%">
                                  <%= index %>
                                </td>
                                <td width="7%">
                                  <div class="m-r-10">
                                    <img src="<%= element.actor_thumbnail %> " alt="user" class="rounded" width="70"
                                      height="100" />
                                  </div>
                                </td>
                                <td width="12%">
                                  <%= element.actor_name %>
                                </td>
                                <td width="12%">
                                  <%= element.actor_url %>
                                </td>
                                <td width="4%">
                                  <%= element.actor_movies.length %>
                                </td>
                                <td width="62%">
                                  <p>
                                    <%= element.actor_description.slice(0, 130) + '...' %>
                                  </p>
                                </td>
                                <% index++ %>
                              </tr>
                              <%}) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label=" Page navigation example" style="margin-right: 15px" id="pagination">
              <ul class="pagination justify-content-end">
                <% numberPage=0 %>
                  <% actors.length % numberItemPerPage==0 ? numberPage=parseInt(actors.length/numberItemPerPage) :
                    numberPage=parseInt(actors.length/numberItemPerPage) + 1 %>
                    <% for(var i=1; i <=numberPage; i++) {%>
                      <li class="page-item <%= i == page ? 'active' : '' %>">
                        <a class="page-link" href="/admin/actor-management/page-<%= i %>">
                          <%= i %>
                        </a>
                      </li>
                      <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jquery 3.3.1 -->
  <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
  <!-- bootstap bundle js -->
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- slimscroll js -->
  <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
  <!-- main js -->
  <script src="/public/assets/libs/js/main-js.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Lấy các phần tử HTML liên quan đến tìm kiếm
      var searchInput = document.getElementById("search-actor");
      var searchButton = document.getElementById("search-button");

      // Gắn sự kiện click cho nút tìm kiếm
      searchButton.addEventListener("click", function () {
        var searchText = searchInput.value.trim();

        // Gửi yêu cầu tìm kiếm đến server bằng AJAX hoặc fetch
        fetch(`/admin/actor-management/search?keyword=${searchText}`)
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            // Xử lý kết quả tìm kiếm và cập nhật bảng dữ liệu diễn viên
            var tableBody = document.querySelector(".table tbody");
            tableBody.innerHTML = "";

            data.forEach(function (actor, index) {
              if (searchText === "") {
                if (index >= 20) {
                  return;
                }
              } else {
                if (index >= 5) {
                  return;
                }
              }

              var row = document.createElement("tr");

              row.style.cursor = "pointer";
              row.style.transition = "opacity 1s, transform 0.2s";
              row.onmouseover = function () {
                this.style.opacity = "0.6";
                this.style.transform = "scale(0.99)";
                this.style.transformOrigin = "center center";
              };
              row.onmouseout = function () {
                this.style.opacity = "1";
                this.style.transform = "scale(1)";
                this.style.transformOrigin = "center center";
              };
              row.onclick = function () {
                redirectToDetail(`/admin/actor-management/detail/${actor.actor_url}`);
              };

              var indexCell = document.createElement("td");
              indexCell.textContent = index + 1;
              indexCell.width = "3%";
              row.appendChild(indexCell);

              // Tạo và điền các ô dữ liệu cho hàng mới
              var thumbnailCell = document.createElement("td");
              var thumbnailImage = document.createElement("img");
              thumbnailCell.width = "7%";
              thumbnailImage.src = actor.actor_thumbnail;
              thumbnailImage.alt = "user";
              thumbnailImage.classList.add("rounded");
              thumbnailImage.classList.add("m-r-10");
              thumbnailImage.width = 70;
              thumbnailImage.height = 100;
              thumbnailCell.appendChild(thumbnailImage);
              row.appendChild(thumbnailCell);

              var nameCell = document.createElement("td");
              nameCell.width = "12%";
              nameCell.textContent = actor.actor_name;
              row.appendChild(nameCell);

              var urlCell = document.createElement("td");
              urlCell.width = "12%";
              urlCell.textContent = actor.actor_url;
              row.appendChild(urlCell);

              var movieCell = document.createElement("td");
              movieCell.width = "4%";
              movieCell.textContent = actor.actor_movies.length;
              row.appendChild(movieCell);

              var descriptionCell = document.createElement("td");
              descriptionCell.width = "62%";
              descriptionCell.textContent = actor.actor_description.slice(0, 130) + '...';
              row.appendChild(descriptionCell);

              // Thêm hàng mới vào bảng dữ liệu diễn viên
              tableBody.appendChild(row);
            });

            if (searchText === "") {
              var pagination = document.getElementById("pagination");
              if (pagination) {
                pagination.style.display = "block";
              }
            } else {
              var pagination = document.getElementById("pagination");
              if (pagination) {
                pagination.style.display = "none";
              }
            }

          })
          .catch(function (error) {
            console.log(error);
          });
      });
    });
  </script>

  <script>
    function redirectToDetail(url) {
      window.location.href = url;
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <% if(message && message.length> 0){%>
    <script>
      toastr.success("<%= message %>", "Thông báo", {
        timeOut: 1500,
        progressBar: true,
        closeButton: true,
      });
    </script>
    <%} %>

</body>

</html>