<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link href="/public/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/public/assets/libs/css/style.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css" />
  <link rel="stylesheet"
    href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

  <title>Diễn viên <%= actor.actor_name %>
  </title>
  <link rel="icon" href="/public/img/core-img/favicon.ico" />
</head>

<body>
  <div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png"
            alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item dropdown nav-user">
              <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="<%= admin.admin_avatar %> " alt="" class="user-avatar-md rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarDropdownMenuLink2">
                <div class="nav-user-info">
                  <% fullName=admin.loginInformation.username %>
                    <h5 class="mb-0 text-white nav-user-name">
                      <%= fullName %>
                    </h5>
                </div>
                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Tài khoản</a>
                <a class="dropdown-item" href="/admin/dashboard/logout"><i class="fas fa-power-off mr-2"></i>Đăng
                  xuất</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-divider">
                Menu
              </li>
              <li class="nav-item ">
                <div id="submenu-1" class="collapse submenu show">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/dashboard">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/movie-management/page-1">Quản lý phim</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/admin/actor-management/page-1">Quản lý diễn viên</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/director-management/page-1">Quản lý đạo diễn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/genre-management/page-1">Quản lý thể loại</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/rating-management/page-1">Quản lý đánh giá</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/comment-management/page-1">Quản lý bình luận</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/user-management/page-1">Quản lý người dùng</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-header">
                <h2 class="pageheader-title">Diễn viên <%= actor.actor_name %>
                </h2>
                <div class="page-breadcrumb">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/admin/dashboard" class="breadcrumb-link">Menu</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/admin/actor-management/page-1" class="breadcrumb-link">Quản lý diễn viên</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Chi tiết diễn viên
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="content" style="width: 100%; height: 100vh">
            <div class="container-fluid">
              <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                <div class="m-r-10">
                  <img src="<%= actor.actor_thumbnail %> " alt="user" class="rounded" height="280" />
                </div>
              </div>
              <label for="validationServer01" class="form-label">
                <table>
                  <tr>
                    <td width="50px">URL:</td>
                    <td><span style="color: black;">
                        <%= actor.actor_url %>
                      </span></td>
                  </tr>
                  <tr>
                    <td>Tên:</td>
                    <td><span style="color: black;">
                        <%= actor.actor_name %>
                      </span></td>
                  </tr>
                </table>
                <br><span style="color: black;">
                  <%= actor.actor_description %>
                </span>
              </label>
              <div class="col-md-12 col-sm-12 col-lg-12 mb-3"><br>
                <button type="button" class="btn btn-primary" onclick="redirectToEdit()">Chỉnh sửa thông
                  tin</button>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12 mt-4">
                <label for="validationServer01" class="form-label" style="color: black;">Danh sách phim đang liên kết:
                  <%= actor.actor_movies.length %>
                </label>
                <div class="search-box">
                  <input type="text" placeholder="Tìm kiếm..." id="movie-search-box" />
                </div>
                <select name="movies" class="form-control" id="validationServer02" multiple required>
                  <% actor.actor_movies.forEach((movieUrl)=> {
                    const movie = movies.find((m) => m.url_name === movieUrl);
                    if (movie) { %>
                    <option value="<%= movie.url_name %>" onclick="redirectToMovieDetail('<%= movie.url_name %>')"
                      style="color: black; cursor: pointer;"
                      onmouseover="this.style.color='blue'; this.style.cursor='pointer';"
                      onmouseout="this.style.color='black'; this.style.cursor='default';" target="_blank">
                      <%= movie.primary_title %> (<%= movie.secondary_title %>) <%= movie.url_name %>
                    </option>
                    <% } }); %>
                </select>
                <div>
                  <p></p>
                  <button type="button" class="btn btn-success" onclick="redirectToLinkMovie()">Liên kết phim
                    mới</button>
                  <button type="button" class="btn btn-success" onclick="redirectToUnlinkMovie()">Xóa phim đang liên
                    kết</button>
                  <p></p>
                  <button type="button" class="btn btn-danger"
                    onclick="if (comfirmDelete('Xóa diễn viên này?', event)) removeActor()">Xóa
                    diễn viên</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jquery 3.3.1 -->

  <script>
    function redirectToEdit() {
      const actorUrl = "<%= actor.actor_url %>";
      window.location.href = "/admin/actor-management/edit/" + actorUrl;
    }
    function redirectToLinkMovie() {
      const actorUrl = "<%= actor.actor_url %>";
      window.location.href = "/admin/actor-management/link-movie/" + actorUrl;
    }
    function redirectToUnlinkMovie() {
      const actorUrl = "<%= actor.actor_url %>";
      window.location.href = "/admin/actor-management/unlink-movie/" + actorUrl;
    }
    function removeActor() {
      const actorUrl = "<%= actor.actor_url %>";
      window.location.href = "/admin/actor-management/remove/" + actorUrl;
    }

    function redirectToMovieDetail(urlName) {
      window.location.href = "/admin/movie-management/detail/" + urlName;
    }
  </script>

  <script>
    function comfirmDelete(msg, event) {
      if (window.confirm(msg) == true) {
        return true;
      }
      event.preventDefault();
      return false;
    }
  </script>

  <script>
    function removeDiacritics(str) {
      return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }

    const movieSearchBox = document.getElementById('movie-search-box');
    const movieOptions = document.querySelectorAll('#validationServer02 option');

    movieSearchBox.addEventListener('input', function () {
      const searchTerm = removeDiacritics(movieSearchBox.value.toLowerCase());

      movieOptions.forEach(function (option) {
        const movieInfo = removeDiacritics(option.textContent.toLowerCase());

        if (movieInfo.includes(searchTerm)) {
          option.style.display = 'block';
        } else {
          option.style.display = 'none';
        }
      });
    });
  </script>

  <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
  <!-- bootstap bundle js -->
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- slimscroll js -->
  <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
  <!-- main js -->
  <script src="/public/assets/libs/js/main-js.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <% if(message && message.length> 0){%>
    <script>
      toastr.success("<%= message %>", "Thông báo", {
        timeOut: 1500,
        progressBar: true,
        closeButton: true,
      });
    </script>
    <%} %>
</body>

</html>