<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link href="/public/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/public/assets/libs/css/style.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css" />
  <link rel="stylesheet"
    href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

  <title>Mefim - Quản lý đạo diễn</title>
  <link rel="icon" href="/public/img/core-img/favicon.png" />
</head>

<body>
  <div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png"
            alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item dropdown nav-user">
              <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="<%= admin.admin_avatar %> " alt="" class="user-avatar-md rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarDropdownMenuLink2">
                <div class="nav-user-info">
                  <% fullName=admin.loginInformation.username %>
                    <h5 class="mb-0 text-white nav-user-name">
                      <%= fullName %>
                    </h5>
                </div>
                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Tài khoản</a>
                <a class="dropdown-item" href="/admin/dashboard/logout"><i class="fas fa-power-off mr-2"></i>Đăng
                  xuất</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Tổng quan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-divider">
                Menu
              </li>
              <li class="nav-item ">
                <div id="submenu-1" class="collapse submenu show">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="/admin/dashboard">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/movie-management/page-1">Quản lý phim</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/actor-management/page-1">Quản lý diễn viên</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/director-management/page-1">Quản lý đạo diễn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/genre-management/page-1">Quản lý thể loại</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/rating-management/page-1">Quản lý đánh giá</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/comment-management/page-1">Quản lý bình luận</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/user-management/page-1">Quản lý người dùng</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-header">
                <h2 class="pageheader-title">Quản lý đạo diễn</h2>
                <div class="page-breadcrumb">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/admin/dashboard" class="breadcrumb-link">Tổng quan</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/admin/director-management/page-1" class="breadcrumb-link">Quản lý đạo diễn</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Trang <%= page %>
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <div class="ecommerce-widget">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="header-product">
                  <h5 class="card-header">Quản lý đạo diễn</h5>
                  <a class="button" href="/admin/director-management/add">Thêm đạo diễn</a>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-light">
                        <tr class="border-0">
                          <th class="border-0">#</th>
                          <th class="border-0">Thumbnail</th>
                          <th class="border-0">Tên đạo diễn</th>
                          <th class="border-0">Mô tả</th>
                          <th class="border-0" width="90px">Thao tác</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% listDirector=directors.length> numberItemPerPage ?
                          directors.slice((page - 1) * numberItemPerPage, numberItemPerPage * page) : directors %>
                          <% var index=(page - 1) * numberItemPerPage + 1 %>
                            <% listDirector.forEach(element=> {%>
                              <tr>
                                <td>
                                  <%= index %>
                                </td>
                                <td>
                                  <div class="m-r-10">
                                    <img src="<%= element.director_thumbnail %> " alt="user" class="rounded" width="70"
                                      height="100" />
                                  </div>
                                </td>
                                <td>
                                  <%= element.director_name %>
                                </td>
                                <td>
                                  <%= element.director_description %>
                                </td>
                                <td>
                                  <a style="margin-right: 5px"
                                    href="/admin/director-management/edit/<%= element._id %>"><i
                                      class="fas fa-edit"></i></a>
                                  <a onclick="comfirmDelete('Xóa đạo diễn này?',event)" style="margin-right: 5px"
                                    href="/admin/director-management/remove/<%= element._id %>"><i
                                      class="fas fa-trash"></i></a>
                                </td>
                                <% index++ %>
                              </tr>
                              <%}) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label="Page navigation example" style="margin-right: 15px">
              <ul class="pagination justify-content-end">
                <% numberPage=0 %>
                  <% directors.length % numberItemPerPage==0 ? numberPage=parseInt(directors.length/numberItemPerPage) :
                    numberPage=parseInt(directors.length/numberItemPerPage) + 1 %>
                    <% for(var i=1; i <=numberPage; i++) { %>
                      <li class="page-item <%= i == page ? 'active' : '' %>">
                        <a class="page-link" href="/admin/director-management/page-<%= i %>">
                          <%= i %>
                        </a>
                      </li>
                      <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jquery 3.3.1 -->
  <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
  <!-- bootstap bundle js -->
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- slimscroll js -->
  <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
  <!-- main js -->
  <script src="/public/assets/libs/js/main-js.js"></script>
  <script>
    function comfirmDelete(msg, event) {
      if (window.confirm(msg) == true) {
        return true;
      }
      event.preventDefault();
      return false;
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <% if(message && message.length> 0){%>
    <script>
      toastr.success("<%= message %>", "Thông báo", {
        timeOut: 1500,
        progressBar: true,
        closeButton: true,
      });
    </script>
    <%} %>

</body>

</html>